// styles applied on :host are applied on the current component, "app" in this case
:host {
    display: block;
    padding-top: 50px;
}

:host .copyright {
    color: #555;
}

:host div {
    //border: 1px solid red;
}

:host h1 {
    color: black;
}